<div style="display: block;
            width: 563px;
        height: 281px;margin-left: -50%;">
        <canvas baseChart 
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
</div>
<div style="display: block;width: 520px;height:260px;margin-top: -270px;">
        <canvas baseChart 
          [data]="categoriesChartData" 
          [labels]="categoriesChartLabels" 
          [chartType]="categoriesChartType"
          [options]="categoriesChartOptions"
          [plugins]="categoriesChartPlugins"
          [legend]="categoriesChartLegend">
        </canvas>
</div>
<div class="expenbtn">
</div>
  <div class="container">
      <button type="button" class="btn btn-primary" style="margin-top: -99%;margin-left: -20%" data-toggle="modal" data-target="#add_expense">Add expense</button>
   <table class="table table-striped" style="position:relative;left:-20%;margin-top: -47%">
      <thead>
        <tr >
          <th>Category</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody *ngFor="let expense of expense_list | paginate: { itemsPerPage: 10, currentPage: p }">
        <tr>
          <td>{{expense.category}}</td>
          <td>{{expense.name}}</td>
          <td>{{expense.amount}}</td>
          <td>{{expense.date}}</td>
          <td>
            <button (click)='deleteRowAdressForm(addressFormIndex)' type="button" class="btn btn-info">Delete</button>
        </td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
    </div>
  <div class="modal fade" id="add_expense" tabindex="-1" role="dialog" aria-labelledby="add_expense" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <form> -->
            <div >
              <label for="category">Category</label>
              <input type="text" [(ngModel)]="category"  class="form-control"  placeholder="enter category name">
            </div>
  
            <div >
              <label for="item_name">Item Name</label>
              <input type="text" [(ngModel)]="name"  class="form-control"  placeholder="enter item name">
            </div>

            <div >
              <label for="amount">Amount</label>
              <input type="text" [(ngModel)]="amount" class="form-control"  placeholder="amount">
            </div>
            <div>
                <label for="date">Date</label>
                <input type="date" [(ngModel)]="date" class="form-control"  placeholder="date">
              </div>
            <!-- </form> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  (click)="add_expense(category,name,amount,date)">Add Expense </button>
          <button type="button" class="btn btn-primary"  (click)="clear()">Clear </button>
        </div>
      </div>
    </div>
  </div>

