.settingsalign
{
    position:relative;
    top:19vh;
    left:5%;
    width:80%
}
.addbtn
{
    margin-left: 70%;
    margin-top: -8%;
}
.updbtn{
    margin-left: 70%;
    margin-top: -8%;
}
.slctitm{

}